.headingLevel1--video-home-title {
  font-size: 24px;
  font-weight: 400;
  color: #002A4E;
  font-family: 'Gotham';
  letter-spacing: 1.5px;
}
.paragraph--video-home-content {
  margin: 14px 0px 23px 0px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Gotham";
  line-height: 22px;
  color: #002A4E;
}
