.openIconContainer :global(.vtex-button) {
  border: none;
}
@media (hover: hover) {
  .openIconContainer:hover
    :global(.vtex-button) {
      background-color: white;
      border: none;
    }
}