.sliderLayoutContainer {
  justify-content: center;
}

.paginationDotsContainer {
  bottom: -2rem;
}

.sliderTrackContainer {
  max-width: 95%;
}

.sliderArrows {
  color: #002a4e;
}

.sliderArrows:hover {
  color: #002a4e;
}
.sliderRightArrow {
  justify-content: flex-start;
  color: #002a4e;
}
.sliderLeftArrow {
  justify-content: flex-end;
  color: #002a4e;
}


