/* Deixa invisíveis todos os elementos, exceto o botão de "Remover" */
.productAssemblyGroupName,
.inputValueOptionBox,
.vtex-product-customizer-2-x-optionsInputValueLabelContainer,
.vtex-product-customizer-2-x-optionsInputValueOptionBoxContainer {
  opacity: 0; /* Torna os elementos invisíveis */
  pointer-events: none; /* Impede interações com esses elementos */
  height: 0; /* Remove o espaço ocupado */
  margin: 0;
  padding: 0;
}

