.list--list-categorias {
  display: flex;
  justify-content: center;
  gap: 50px;
  white-space: nowrap;
  margin-bottom: 1rem;
}

@media (max-width: 40em) {
  .list--list-categorias {
    overflow: scroll;
    justify-content: flex-start;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }  

  .list--list-categorias::-webkit-scrollbar {
    display: none;
  }
}

.paragraph--list-categorias {
  margin-top: 12px;
  color: #2D5C85;
  font-size: 14px;
  font-weight: bold; /* Altera para evitar o negrito */
}

.item--list-categorias {
  color: #002A4E;
}

@media (hover: hover) {
  .item--list-categorias:hover
    :global(.vtex-list-context-0-x-paragraph--list-categorias) {
    color: #BF6A1E;
  }
}

.vtex-rich-text-0-x-paragraph--shelfTitle-teste,
.shelfTitle-teste,
.lh-copy.shelfTitle-teste {
  font-size: 2em !important; /* Tamanho similar a um h2 */
  font-weight: normal !important;
  text-align: center !important;
  line-height: 1.2 !important;
  margin-top: 0 !important;
}

.list--list-products-mobile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.item--list-products-mobile {
  width: 100%;
  max-width: 50%;
  padding:0 8px;
}
