.flexRow--newsletter {
  background: rgba(191, 106, 30, 0.75);
}
.flexRow--newsletter, .flexRowContent--newsletter{
  position: relative;
}

.flexRow--newsletter::before {
  content: '';
  background: url(/arquivos/folhas-graos.svg?v=123) no-repeat center;
  position: absolute;
  background-size: contain;
  width: 250px;
  height: 240px;
  top: 15px;
  left: 0%;
  transform: rotate(337deg);
  opacity: .5;
}

.flexRowContent--newsletter::before{
  content: '';
  background: url(/arquivos/3-graos.svg?v=123456) no-repeat center;  
  background-size: contain;
  width: 44px;
  height: 26px;
  position: absolute;
  right: 200px;  
  bottom: 50px;
  opacity: .7;
}

.flexRowContent--newsletter::after{
  content: '';
  background: url(/arquivos/saco-graos.svg?v=123) no-repeat center;
  position: absolute;
  background-size: contain;
  width: 200px;
  height: 200px;
  top: 15px;
  right: 0;
  opacity: .5;
}

@media(max-width: 64em) {
  .flexRowContent--newsletter{
    position: initial;
  }

  .flexRow--newsletter {
    position: relative;
    padding-top: 70px;
  }
  .flexRowContent--newsletter::before {
    content: '';
    background: url(assets/newsletter-mobile-image.png) no-repeat center;
    position: absolute;
    width: 145px;
    height: 102px;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .flexRow--newsletter::before,
  .flexRowContent--newsletter::after{
    display: none;
  }
}