.productBrandName {
  display: none;
}

.quantityDropdownContainer :global(.vtex-styleguide-9-x-container),
.quantityInputContainer :global(.vtex-styleguide-9-x-input),
.quantityInputContainer :global(.vtex-input-prefix__group) {
  height: 32px;
  font-size: 12px;
}
