.container--landing-list  .listItem {
    position: relative;
    display:block;
    margin: 1rem 0 1.25rem 0; 
    line-height: 1.7;
    padding-left: calc(30px + 1rem);
}
.container--landing-list .listItem::before {
    position: absolute;
    top: 0.75rem;
    left: 0;
    content: '';
    display:inline-block;
    width: 30px;
    height: 3px;
    background: #FCE7C2; 
}

.headingLevel2--landing-main-banner-title {
    font-size: 1.2rem;
}