 
.flexRow--landing-main-banner {
    position: relative;
}

.flexColChild--landing-main-banner-content {
    width: 100%;
}


.flexCol--landing-main-banner-box {
    position: relative;
    background: #fff;
    padding: 2rem; 
    
    width: 90%;
    margin:  -1.5rem auto  auto; 
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09);
}

.flexRow--landing-main-banner {
    max-width: 1920px;
    margin: auto;
}
 

.flexColChild--landing-main-banner-bg-desktop {display: none;}
 


@media (min-width: 48em){
    .flexCol--landing-main-banner-box {
        padding: 2rem;
        margin: 0;
        max-width: 300px;
        margin-top: 1rem;
    }

    .flexCol--landing-main-banner-content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
   
    .flexColChild--landing-main-banner-content {
        width: auto;
    }

    .flexColChild--landing-main-banner-bg-desktop {
        display: block;
        position: absolute;
        top: 0; left: 0;
    }
    .flexColChild--landing-main-banner-bg-mobile {display: none;}

    .flexColChild--landing-main-banner-bg-title {
        position: relative;
        top: 0;
    }

    .flexRowContent--landing-main-banner  {
       display:block;
    }
    .flexRowContent--landing-main-banner  .stretchChildrenWidth{
      width: auto !important;
     
    }
}

 


@media (min-width: 64em){
     
    .flexCol--landing-main-banner-box {
        max-width: 370px;
       
    }

  .flexCol--landing-main-banner-content {
    max-width:  1260px;
    position: absolute;
    top: 0;
    height: 100%;
  }
}
 


